
nav a {
    font-size: 1.5rem;
}

nav a:link {
    text-decoration: none;
    background-color:#CFDA5A ;
    border: 2px solid white;
}

nav a:visited {
    color: black;
}

nav a:hover {
    background-color: #285A71;
}

nav h2 {
    font-size: 2rem;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

header, footer {
    background-color:#CFDA5A;
    color: #1C1C1C;
}

.site-title {
    color: #1C1C1C;
}

#my-image {
    box-shadow: 0px 0px 2px 1px white;
}

ul {
    list-style-type: square;
}

