

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

header, footer {
    background-color:#CFDA5A;
    color: #1C1C1C;
}

.site-title {
    color: 1C1C1C;
}

#my-image {
    box-shadow: 0px 0px 2px 1px white;
}

ul {
    list-style-type: square;
}