/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden; /* stops horizontal scroll bars from appearing */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box; /* border won't push elements outside their set width */
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

nav {
    background-color: #222222;
}

.color-box {
    background-color: #c78c06;
    height: 250px;
    border: 15px solid #222222 ;
    display: grid;
    grid-template-rows: 1fr auto; /* logo gets all the leftover space, link sits at the bottom  */
    justify-items: center; 
}

.color-box img {
    /* Keeps logo at the very top of its area */
    align-self: start; 
    justify-self: start;
}

.color-box a {
    font-size: 20px;
    padding-bottom: 15px;
    color: #222222;
    text-decoration: none;
}

nav ul {
   display:flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px;
   padding: 20px 0;
   gap: 45px;
}

nav ul li a{
    color: #c78c06;
}

nav form input{
    width: 95%;
    margin: 20px;
    height: 2rem;
    font-size: 18px;
}

header {
    position: relative;
}

.banner-overlay{
    position: absolute;  /* allows it to sit on top of the banner img */
    top: 10%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
}

header div h1 {
    font-size: 4rem;
    color: white;
    line-height: 1.5;
    margin-bottom: 1rem;
}

header div p {
    color: white;
    line-height: 1.5;
    margin-bottom: 2rem;
}

header div a {
    background-color: #c78c06;
    font-size: 1.5rem;
    display: inline-block; /* lets padding apply properly on an anchor tag  */
    padding: 30px 50px;
    color: #222222;
}

#home {
    position: relative; /* needed so the header is positioned relative to this */
    max-width: 100%;
    margin: 0 auto;
}

#home img {
    width: 100%;
    display: block; /* removes small gap under images  */
}

#about-us {
    background-color: #ffe6ac ;
    padding: 15px;
}

#about-us .about-text > *{
    padding-bottom: 15px;
}

#about-us img {
    width: 100%;
}

#services h1 {
    padding: 30px 15px 20px 15px;
}

#services img {
    width: 100%;
    padding-bottom: 30px;
}

#services article {
    background-color: #ffe6ac;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
    border-left: 15px solid white;
}

#services article h2, #services article p {
    padding: 15px;
    padding-bottom: 15px;
}

#services article a{
    background-color: #222222;
    font-size: 1.5rem;
    padding: 40px 50px;
    margin: 10px 15px 15px 15px;
    display: inline-block;
    color: white;
}

#vision {
    position: relative; /* so the .baner-text can be positioned inside it */
    width: 100%;
}

#vision img {
    width: 100%;
    height: 400px;
    margin-top: 15px;
}

.banner-text {
    position: absolute;
    width: auto;
    padding: 20px;
    top: 20%;
    right: 15px;
}

.banner-text h2, .banner-text p, .banner-text a {
    color: white;
    padding-bottom: 20px;
}

.banner-text a {
    display: inline-block;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #c78c06;
    margin-top: 10px;
    padding: 30px 50px;
}

.team h1 {
    margin: 40px 15px 20px 15px;
}

.team img {
    width: 100%;
    padding-bottom: 10px;
}

#john, #bob {
    background-color: #ffe6ac;
    padding-bottom: 15px;
    border: 15px solid white;
}

.team-info h2, .team-info h3, .team-info p {
    padding: 10px;
}

hr {
    border: none;
    background-color: #c78c06;
    height: 2px;
}

#contact > * {
    padding: 15px;
}

#contact textarea, #contact input {
    width: 100%;
    resize: none; /* so users can't resize the textarea */
    margin-bottom: 20px;
}

#contact label {
    display: block;
    margin-bottom: 10px;
}

#contact textarea {
    height: 150px;
}

#contact button {
    background-color: #222222;
    color: #c78c06;
    border:none;
    font-size: 1.5rem;
}

.hours table {
    width: 100%;
    margin-top: 15px;
}

.hours th, .hours td {
    border: 1px solid black;
    height: 50px;
    padding: 15px 15px;
}

.hours th{
    background-color: #ffe6ac;
}

.location {
    padding: 15px;
}

.team h2 {
    padding-bottom: 15px;
}

.location iframe{
    width: 100%;
    height: 600px;
    padding-bottom: 15px;
}

footer {
    background-color: #222;
    color: #c78c06;
    padding: 15px 15px;
}

footer p {
    padding-top: 20px;
}

footer a {
    color: #c78c06;
    text-decoration: underline;
}


@media screen and (min-width:760px) {

    nav {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 200px;
    }

    .color-box {
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: auto;
        gap: 30px;
        grid-template-rows: unset;
    }

    .color-box img {
        align-self: center;
        height: 100px;
        width: auto;
        box-sizing: content-box;
        padding: 10px;
    }

    .color-box a {
        background-color: #c78c06;
        padding: 15px 25px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        padding: 0;
    }

    .banner-overlay {
        width: 85%;
        height: 500px;
    }

    .banner-overlay h1 {
        font-size: 5rem;
    }

    #home img {
        max-height: 700px;
        object-fit: cover;
    }

    #about-us {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 15px 90px;
    }

    #about-us img {
        width: 50%;
        height: auto;
        display: block;
    }

    .about-text {
        width: 50%;
    }

    #services {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    #services h1 {
        width: 100%;
    }

    #services article {
        flex: 1 1 calc(33.333% - 20px);
        display: flex;
        flex-direction: column;
    }

    #services article:nth-child(2),  #services article:nth-child(3) {
        flex: 1 1 calc(50% - 20px);
    }

    #services article a {
        display: block;
        text-align: center;
        margin-top: auto;
    }
}

